<?xml version="1.0"?>
<!--
/**
 * Copyright Wagento Creative LLC ©, All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Magento 2.0 -->
    <preference for="Magento\Framework\Api\Search\ReportingInterface"
                type="Magento\Framework\View\Element\UiComponent\DataProvider\Reporting"/>

</config>
