<?xml version="1.0"?>
<!--
/**
 * Copyright Wagento Creative LLC ©, All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Wagento_Surveymonkey::surveymonkey_group"
             title="Wagento Survey Monkey"
             module="Wagento_Surveymonkey"
             resource="Wagento_Surveymonkey::survey"
             sortOrder="50"
         />
        <add id="Wagento_Surveymonkey::surveymonkey_config"
             title="Configuration"
             module="Wagento_Surveymonkey"
             resource="Wagento_Surveymonkey::surveymonkey_config"
             action="adminhtml/system_config/edit/section/wagento"
             parent="Wagento_Surveymonkey::surveymonkey_group"
        />
        <add id="Wagento_Surveymonkey::surveymonkey_monkey"
             title="Surveys"
             module="Wagento_Surveymonkey"
             resource="Wagento_Surveymonkey::surveymonkey_surveys"
             action="surveymonkey/survey"
             parent="Wagento_Surveymonkey::surveymonkey_group"
        />
    </menu>

</config>